*{
  margin: 0;
  padding: 0;
}

body{
  background-color:   #D1F2EB;
  font-family: Tahoma, sans-serif;
}

header{
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  background-color: #2196F3;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: center;

}

.logoContainer{
  width: 150px;
  height: 150px;
}
.socialContainer{
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

nav {
  background-color: #1d7b57;   
}

h1{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 45px;
  padding-top: 40px;
  padding-bottom: 10px;
} 

h2{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

a{
  font-weight: bold;
  color: #333333;
  text-decoration: none;
} 

table{
  border-collapse: collapse;
  margin: auto; 
  margin-top: 50px;
  margin-bottom: 40px;
}

form {
  max-width: 400px;
  margin: auto;
  padding: 30px;;
}
  
label {
  display: block;
  margin-top: 20px;
  color: #333333; 
  font-weight: bold;
}
  
input[type="text"], input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="submit"] {
  margin: auto; 
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 10px 20px;
  background-color:#1d7b57; 
  color: #ffffff; 
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="search"]{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: flex;
}

input[type="radio"] {
  margin: 3px 10px 0px 5px;
}

td{  
  text-align: center;
  font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  padding: 20px;
  color: black;
}

footer{
  padding: 40px;
  background-color: #2196F3;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

.banner{
  display: flex;
}

.logo {
  display: flex; 
   width: 250px;
  padding: 10px;
}


.iconos {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.iconos img{
  width: 40px;
  height: auto;
  margin: 5px;
}

.navopciones li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.navopciones li:hover{
  background-color: #A6ACAF;
}

.menuinferior {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menuinferior li {
  display: inline-block;
  margin-right: 10px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.menuinferior li:hover{
  color: white;
}

.salir img{
  width: 45px;
  margin-top: 35px;
}

.Ncontenedor{
  display: flex;
  margin: 20px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.Restaurante{
  width: 30%;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Geneva, Tahoma, sans-serif;
}

.Restaurante img{
  max-width: 100%;
  padding-bottom: 15px;
}

.Restaurante h3 a{
  font-size: 18px;
  margin-bottom: 10px;
}

.Restaurante h3:hover{
  color: #2196F3;
}

.Restaurante p{
  margin-bottom: 15px;
  text-align: center;
}

.botonenlace{
  margin-bottom: 45px;
  margin-top: 25px;
  padding: 10px 20px;
  background-color:#1d7b57; 
  color: #ffffff; 
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.enlaceboton{
  display: flex;
  justify-content: center;
}

.NcontenedorR {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 30px;
  padding-top: 5px;
  padding-bottom: 40px;
}

.RestauranteR {
  width: 60%;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: Geneva, Tahoma, sans-serif;
}

.RestauranteR img {
  max-width: 50%;
  max-height: 50%;
  padding: 15px;
}

.RestauranteR h1 {
  font-size: 30px;
  margin-bottom: 10px;
}


.RestauranteR p {
  margin-bottom: 15px;
  text-align: center;
}

.tabla-generales {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
  background-color: #FFFFFF;
  padding: 10px;
  font-family: Geneva, Tahoma, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-menu {
  background-color: #3498db;
}

.boton-reservas {
  background-color: #e74c3c;
}

.boton:hover {
  background-color: #2980b9;
}

.formulario {
  width: 60%;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: Geneva, Tahoma, sans-serif;
}

.formulario h2 {
  color: #333;
}

.formulario label {
  display: block;
  margin-top: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="date"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.formulario button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario button:hover {
  background-color: #2980b9;
}
#boton-atras {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

#boton-atras::before {
  content: '\2190'; /* Carácter Unicode para la flecha hacia atrás */
  margin-right: 10px;
}

#boton-atras:hover {
  background-color: #2980b9;
}